<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>876292644370-jfdvnlhqlh4nudn4hucm0ot2vuq6m0r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876292644370-jfdvnlhqlh4nudn4hucm0ot2vuq6m0r8</string>
	<key>API_KEY</key>
	<string>AIzaSyBB0ln3oPQjKJwA3NuDHg9bqOHrKD1SBfU</string>
	<key>GCM_SENDER_ID</key>
	<string>876292644370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Rope.ios</string>
	<key>PROJECT_ID</key>
	<string>rope-1ea25</string>
	<key>STORAGE_BUCKET</key>
	<string>rope-1ea25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876292644370:ios:05518bebf70cc0ba</string>
	<key>DATABASE_URL</key>
	<string>https://rope-1ea25.firebaseio.com</string>
</dict>
</plist>